body {
color: #b08758;
background-color: #8657AF;
}

#main {
margin-left: auto;
margin-right: auto;
width: 700px;
}

a {
color: #b08758;
}

#name {
font-size: 30pt;
}

#footer {
text-align: center;
}
