body {
color: #2A3D34;
background-color: #C7A0E9;
}

#main {
margin-left: auto;
margin-right: auto;
width: 700px;
}

a {
color: #2A3D34;
}

h2 {
font-style: italic;
}

h1 {
font-size: 50pt;
}

#footer {
text-align: center;
}

#main h3 {
  -webkit-translation: all 0.2s ease-in-out;
  -moz-translation: all 0.2s ease-in-out;
  translation: all 0.2s ease-in-out;
}

#main h3:hover {
  -webkit-transform: rotate(10deg) scale(1.2) translate(10px, 0);
  -moz-transform: rotate(10deg) scale(1.2) translate(10px, 0);
  transform: rotate(10deg) scale(1.2) translate(10px, 0);
}
